.mainFont {
  font-family: 'Open Sans', sans-serif;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background: white;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
}
header .header_container {
  width: 100vw;
}
header .header_container nav {
  width: 100%;
  text-align: right;
  margin-top: 1rem;
}
header .header_container nav a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  margin-right: 2rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1rem;
}
header .header_container nav a:hover {
  color: grey;
}
.container .heading {
  text-align: center;
}
.container .heading h1 {
  font-size: 6rem;
  margin-top: 3rem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.2rem;
  margin-bottom: 10vh;
}
.container .heading p {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1rem;
}
.container .profilePicContainer {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.container .profilePicContainer .profilePic {
  border: 1px solid black;
  border-radius: 2rem;
  height: 9.5rem;
  width: 10rem;
  margin: 0 auto;
  background-image: url("/img/devinong.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.portfolio .boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10rem;
}
.portfolio .boxes div {
  width: 40rem;
  height: 30rem;
  border: 2px solid black;
  margin: 2rem;
}
.skills {
  text-align: center;
  margin-top: 13rem;
}
.skills h2 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5rem;
  margin-top: 2rem;
}
.projectContainer {
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.projectContainer div {
  border: 2px solid black;
  width: 20rem;
  height: 4rem;
  border-radius: 1rem;
  margin: 2rem;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3rem;
}
.display-none {
  display: none;
}
